body {
    color: rgb(75, 179, 59);
	background-color: rgb(49, 139, 35);
	text-shadow: 1px 1px 1px #000;
}

a:link {
	color: rgb(75, 179, 59);
}

a:visited {
	color: rgb(108, 217, 91);
}

a:hover, a:active, a:focus { 
	color: rgb(242, 198, 236);
}

.pure-img-responsive {
	position: relative;
    width: 400%;
	border: 3px solid rgb(11, 48, 3);
	margin-top: 10px;
}

.patch-img {
	position: relative;
    width: 400%;
	border: 3px solid rgb(11, 48, 3);
}

.character-profile-img {
	float: left;
	border: 3px ridge rgb(11, 48, 3);
	margin-right: 0px;
}

.transformation-character-image {
	float: left;
	border: 3px ridge rgb(11, 48, 3);
	margin-right: 100%;
	margin-top: 6px;
	margin-bottom: 6px;
}

.character-graph-img {
	float: right;
	border: 3px ridge rgb(11, 48, 3);
	margin-right: 44%;
	margin-left: 6px;
}

/*
Spoiler dropdown
*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgb(49, 139, 35)/*rgb(59, 23, 79)*/;
    color: rgb(108, 217, 91);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
	text-shadow: 1px 1px 1px #000;
	font-size: 1.7em;
    font-weight: 500;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: rgb(119, 66, 148);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: rgb(22, 88, 12);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

/* plus and minus */

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 15px;
    color: rgb(75, 179, 59);
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* .spoilerbutton {
	display: block;
	margin: 5px 0;
	background: rgb(59, 23, 79);
	border: 3px solid rgb(32, 9, 45);
	border-color: rgb(59, 23, 79);
}

.spoiler {
	overflow: hidden;
	background: rgb(59, 23, 79);
}

.spoiler>div {
	margin: 5px;
	overflow: hidden;
	transition: all 1s ease;
}

.spoilerbutton[value="Show More"]+.spoiler>div {
	max-height: 0;
}

.spoilerbutton[value="Show Less"]+.spoiler>div {
	max-height: auto;
}
*/

/*
Characters
*/

#characters {
	text-align: center;
	width: 50%;
	border: 1px solid rgb(11, 48, 3);
	margin-top: 70px;
	padding-left: 10px;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }
/*
The content `<div>` is where all your content goes.
*/

#discord-link {
	float: right;
	margin: 10px;
	margin-right: 20px;
	background-color: rgb(22, 88, 12);
	width: 20%;
	color: rgb(108, 217, 91);
	border: 3px solid rgb(11, 48, 3);
	text-align: center;
}

#footer {
	background-color: rgb(22, 88, 12);
	border: 3px solid rgb(11, 48, 3);
	padding: 6px;
	clear: both;
	width: 50%;
	margin: 0 auto;
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
	margin-left: 4px;
}

.stats-text {
	line-height: 19px;
	text-align: right;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
	background-color: rgb(22, 88, 12);
	border: 3px solid rgb(11, 48, 3);
	margin-top: 10px;
}

.header {
	margin: 0;
	color: #333;
	text-align: center;
	padding: 2.5em 2em 0;
	border-bottom: 3px solid rgb(11, 48, 3);
 }
    .header h1 { /** 0.2em 0 **/
        margin: 0 auto;
        font-size: 3em;
        font-weight: 500;
		background-color: rgb(22, 88, 12);
		width: 50%;
		color: rgb(108, 217, 91);
		border: 3px solid rgb(11, 48, 3);
		max-width: 400px;
    }
     .header h2 {
        font-weight: 300;
        color: rgb(75, 179, 59);
        padding: 1px;
        margin-top: 10px;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 350;
    color: rgb(108, 217, 91);
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width  #191818*/
    width: 170px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: rgb(22, 88, 12);
	border: 3px solid rgb(11, 48, 3);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: rgb(108, 217, 91);
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid rgb(11, 48, 3);
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: rgb(49, 139, 35);
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: rgb(22, 88, 12);
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: rgb(108, 217, 91);
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 120%;
        color: rgb(108, 217, 91);
        margin: 0;
		border-bottom: 2px solid rgb(11, 48, 3);
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgb(22, 88, 12);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 1001;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: rgb(22, 88, 12);
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}
